/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.site-name
  text-transform capitalize

.post
  display flex
  flex-direction column
  justify-content space-evenly
  align-items center
  gap 2rem

p
  text-indent 2rem
