/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */
$bgColor = #ADD8E6
$headerBgColor = #00008B
$accentColor = #8A307F
$textColor = #2c3e50
$headerTextColor = $bgColor
$borderColor = #eaecef
$codeBgColor = #282c34
